<div class="bar bar-header bar-positive" style="margin-bottom:40px;">
  <h1 class="title">Login</h1>
</div>
<style type="text/css">
  .loginLogo{
    display: block;
   margin-left: auto;
   margin-right: auto;
  width: 250px;
  height: 250px;
   padding:12px;
  
  }
  .loginForm{
    margin-top: 20px;
    padding: 10px;
  }
</style>
<ion-view view-title="Örnek">
  <ion-content class="has-header">
     <img src="img/ionic.png" class="loginLogo" />
	<form class="loginForm">
      <div class="list">
        <label class="item item-input">
        	<span class="input-label">Ad</span>
            <input type="text" ng-model="loginData.ad">
        </label>
        <label class="item item-input">
        	<span class="input-label">Şifre</span>
            <input type="text" ng-model="loginData.sifre">
        </label>
         <label ng-bind="loginData.ad"></label>
        <label class="item">
        	<button class="button button-block button-positive" ng-click="doLogin(loginData)" type="button">Giriş Yap
        	</button>
        </label>
      </div>
      </form>
      <div class="bar bar-footer bar-default">
  <div class="title">IO - Sample</div>
</div>
  </ion-content>
</ion-view>
